In [1]:
import h5py
import pysam

import numpy as np
import pandas as pd
from scipy.sparse import coo_matrix,csc_matrix

import seaborn as sns
import matplotlib.pyplot as plt
import scanpy as sc
import os
import anndata

In [2]:
DataDir = '/media/ggj/Guo-4T-AI/FYT/UU/CodeTest/20230724_negative/axolotl_new/'
positive_ad = sc.read(os.path.join(DataDir,'Axolotl_5wCells_8wPeaks_0904.h5ad'))
positive_ad

AnnData object with n_obs × n_vars = 50025 × 82637
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA'
    var: 'features'

In [3]:
A=positive_ad.X
from numpy import count_nonzero
from scipy.sparse import csr_matrix 
1-count_nonzero(A.toarray())/A.toarray().size

0.974521562627087

In [4]:
positive_ad.var_names

Index(['chr10p-1-95282-95782', 'chr10p-1-273325-273825',
       'chr10p-1-769540-770040', 'chr10p-1-770095-770595',
       'chr10p-1-1249389-1249889', 'chr10p-1-1250151-1250651',
       'chr10p-1-1339805-1340305', 'chr10p-1-1731114-1731614',
       'chr10p-1-1843707-1844207', 'chr10p-1-1874265-1874765',
       ...
       'chr9q-2-499746867-499747367', 'chr9q-2-499857998-499858498',
       'chr9q-2-499874394-499874894', 'chr9q-2-499890471-499890971',
       'chr9q-2-500209346-500209846', 'chr9q-2-500618405-500618905',
       'chr9q-2-500618921-500619421', 'chr9q-2-500619794-500620294',
       'chr9q-2-501052128-501052628', 'chr9q-2-501052695-501053195'],
      dtype='object', length=82637)

In [5]:
positive_peak=positive_ad.var_names

In [6]:
positive_peak=pd.DataFrame({'peak':positive_peak})

In [7]:
positive_peak.to_csv('postive_peak.csv')

In [8]:
positive_peak_new=pd.read_csv('./postive_peak_new.csv')
positive_peak_new

          V1                         peak
0          0         chr10p_1-95282-95782
1          1       chr10p_1-273325-273825
2          2       chr10p_1-769540-770040
3          3       chr10p_1-770095-770595
4          4     chr10p_1-1249389-1249889
...      ...                          ...
82632  82632  chr9q_2-500618405-500618905
82633  82633  chr9q_2-500618921-500619421
82634  82634  chr9q_2-500619794-500620294
82635  82635  chr9q_2-501052128-501052628
82636  82636  chr9q_2-501052695-501053195

[82637 rows x 2 columns]

In [9]:
positive_ad.var_names=positive_peak_new['peak']
positive_ad.var_names

Index(['chr10p_1-95282-95782', 'chr10p_1-273325-273825',
       'chr10p_1-769540-770040', 'chr10p_1-770095-770595',
       'chr10p_1-1249389-1249889', 'chr10p_1-1250151-1250651',
       'chr10p_1-1339805-1340305', 'chr10p_1-1731114-1731614',
       'chr10p_1-1843707-1844207', 'chr10p_1-1874265-1874765',
       ...
       'chr9q_2-499746867-499747367', 'chr9q_2-499857998-499858498',
       'chr9q_2-499874394-499874894', 'chr9q_2-499890471-499890971',
       'chr9q_2-500209346-500209846', 'chr9q_2-500618405-500618905',
       'chr9q_2-500618921-500619421', 'chr9q_2-500619794-500620294',
       'chr9q_2-501052128-501052628', 'chr9q_2-501052695-501053195'],
      dtype='object', name='peak', length=82637)

In [10]:
positive_ad.var['features']

peak
chr10p_1-95282-95782                  chr10p-1-95282-95782
chr10p_1-273325-273825              chr10p-1-273325-273825
chr10p_1-769540-770040              chr10p-1-769540-770040
chr10p_1-770095-770595              chr10p-1-770095-770595
chr10p_1-1249389-1249889          chr10p-1-1249389-1249889
                                          ...
chr9q_2-500618405-500618905    chr9q-2-500618405-500618905
chr9q_2-500618921-500619421    chr9q-2-500618921-500619421
chr9q_2-500619794-500620294    chr9q-2-500619794-500620294
chr9q_2-501052128-501052628    chr9q-2-501052128-501052628
chr9q_2-501052695-501053195    chr9q-2-501052695-501053195
Name: features, Length: 82637, dtype: object

In [11]:
positive_ad.var['features'] = positive_ad.var_names

In [12]:
#create negative sample matrix

In [13]:
nega = csc_matrix(arg1=(50025,41318))
nega = sc.AnnData(nega)

In [14]:
nega.X.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [15]:
nega.var_names

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '41308', '41309', '41310', '41311', '41312', '41313', '41314', '41315',
       '41316', '41317'],
      dtype='object', length=41318)

In [16]:
nega_peak = pd.read_csv('./nega_ax.csv')
nega_peak

              windows_negative_peak
0         chr9p-324798099-324798599
1         chr3q_3-59912568-59913068
2          chr14p-42526346-42526846
3      chr11q_2-146518787-146519287
4      chr10p_1-208769970-208770470
...                             ...
41313     chr1q_3-89063227-89063727
41314   chr2q_3-421997983-421998483
41315  chr11q_3-189063795-189064295
41316   chr3p_1-185273258-185273758
41317   chr1q_1-462907342-462907842

[41318 rows x 1 columns]

In [17]:
nega.var_names = nega_peak['windows_negative_peak'].values

In [18]:
nega.var['features'] = nega.var_names

In [19]:
nega.obs_names = positive_ad.obs_names

In [20]:
nega.obs

Empty DataFrame
Columns: []
Index: [Liver#col63_AGACGATGATACCATCCGAAACCGCCAACC, Pancreas#col57_CTCACAAGACACAGAGCCATAATTAAGACT, Intestine#col63_ACTTAGAATGCACAAGACCTAAGCCAGTTA, Kidney#col90_TCCAAGCCTGGATCACCAGACCAGTTCCAA, Pancreas#col58_TCGGAAGGCACAACTCGAACGCCATTCTCC, Pancreas#col77_AGACGATGATATGACACACCATCATATTAG, Bladder#col89_TCCAAGCCTGACGGAAGACTTGAGTCTGGC, Pancreas#col74_TGAAGCGTTGATAGCCACACATCATATTAG, Cloaca#col59_CTCACAAGACCAACGACCATAACCTGCGTA, Intestine#col73_CCGATGTCGCAACCGTAAGCAACCTGGTCT, Intestine#col68_TCCAAGCCTGATACACCAGCTCTTGCCGAC, Intestine#col74_AGACGATGATACATACCGCAAAGCCAGTTA, Pancreas#col57_AGACGATGATACAGAGCCATAATTAAGACT, Liver#col69_TCGGAAGGCAAACCGACACTTCTGATACCA, Stomach#col79_AGACGATGATCAATACAGCCCATTCAATCA, Intestine#col60_ACTTAGAATGAACCACGCATTCTTGCCGAC, Pancreas#col58_TGAAGCGTTGCTCAACGAACTTACCGAGGC, Pancreas#col63_TCCAAGCCTGGCACCTACAAATCATATTAG, Intestine#col60_TCCAAGCCTGCACAACATGCAAGACCGTTG, Cloaca#col69_CCGATGTCGCCACATCACAGAACCTGCGTA, Liver#col61_CCGATGTCGCCACGCAATACCCGATTCCTG, Stomach#col61_AGACGATGATATACACCAGCACGAAGTCAA, Cloaca#col80_AGACGATGATAGCCAGACTAAACTAGGCGC, Stomach#col64_CGTGCGATCCACTAGCACCAACGAAGTCAA, Stomach#col66_TCGGAAGGCACAACGAATCCCATTCGACGG, Intestine#col63_TCGGAAGGCACACAAGACCTAAGCCAGTTA, Cloaca#col73_AGACGATGATTACAGCCAACTAGCCGTCAT, Intestine#col59_AGACGATGATAATCAACCGCATCCATGACT, Pancreas#col77_AGACGATGATCACCACAGTATGGTCAGCCA, Pancreas#col60_CCGATGTCGCCAAGCTAACCTAGAATTAAC, Pancreas#col79_CGTGCGATCCTAGCACAAGCTAGAATTAAC, Cloaca#col73_TGAAGCGTTGAACGCCTCAATATATACTAA, Cloaca#col58_TGAAGCGTTGAAGCCTACCAAACCTGCGTA, Kidney#col84_CTCACAAGACAAGCGAACTGACCGCCAACC, Lung#col3_AGACGATGATACCATAGACCGCAGGTCCGT, Cloaca#col68_TCCAAGCCTGCACACGTAACCTAGTAGTCT, Cloaca#col79_CGTGCGATCCCTAACGACCAAACTAGGCGC, Intestine#col77_TCCAAGCCTGCACCAACATGCGCTCCTAAC, Cloaca#col63_AGACGATGATAACCGTAAGCTAGCCGTCAT, Intestine#col79_AGACGATGATACATACCGCAAAGACCGTTG, Intestine#col61_TGAAGCGTTGTAGCACAAGCAAGCCAGTTA, Brain#col91_TGAAGCGTTGACCAAGTAGCACTATGCAAT, Cloaca#col60_TGAAGCGTTGAACATCCAGGCGTAGTTACC, Cloaca#col67_CTCACAAGACTAAGCACCACAACCTGCGTA, Intestine#col64_CTCACAAGACAACCTGACACCGCTCCTAAC, Stomach#col80_CGTGCGATCCCAACCTCGAACATTCAATCA, Intestine#col65_TGAAGCGTTGAACGCCTCAAAAGACCGTTG, Kidney#col89_CTCACAAGACAGAACGTACCAGAGAAGGTT, Bladder#col83_TCGGAAGGCAATCAACTCAGCTAAGAGAAG, Cloaca#col71_TCCAAGCCTGTCCACAAGCAAATCGATAAT, Intestine#col70_AGACGATGATATAGCAGCCATCTTGCCGAC, Cloaca#col62_CCGATGTCGCCACCAACATGGGCAGACGCC, Intestine#col60_TGAAGCGTTGCGAACACATCAACCTGGTCT, Intestine#col57_CCGATGTCGCCCGAACTCAAAAGACCGTTG, Cloaca#col73_CCGATGTCGCTACAGCCAACTAGCCGTCAT, Liver#col72_TCGGAAGGCACGTAACCACAAGAACGTCTC, Cloaca#col79_TGAAGCGTTGGACACGACTATCCAATCATC, Pancreas#col57_ACTTAGAATGCACAACATGCATCATATTAG, Intestine#col57_CTCACAAGACTCACAGCAACTTCGCCTCCA, Cloaca#col64_TCGGAAGGCACAGAACTACCAACCTGCGTA, Stomach#col74_CTCACAAGACCGACCATCAAGGCTCTCTAT, Intestine#col79_AGACGATGATACTGCACCAAAAGCCAGTTA, Intestine#col64_CCGATGTCGCTACCGCAACAATCCATGACT, Lung#col14_AGACGATGATCTCCGAACAACATTCGACGG, Intestine#col61_TGAAGCGTTGAACGCCTCAAACCTGGCCAA, Intestine#col70_CCGATGTCGCATAGCAGCCATCTTGCCGAC, Intestine#col57_TCCAAGCCTGCCGCCAATAAATCCATGACT, Pancreas#col73_TCCAAGCCTGAACCACGCATATCATATTAG, Stomach#col58_CCGATGTCGCAGCCTACCAAACGAAGTCAA, Cloaca#col80_CTCACAAGACAGCCAGACTAAACTAGGCGC, Kidney#col94_TGAAGCGTTGTAGACGAACCCATACTCCGA, Intestine#col62_CTCACAAGACCACCAACATGAACCTGGTCT, Cloaca#col58_CGTGCGATCCATAGCAGCCAGGCAGACGCC, Lung#col42_CTCACAAGACCATACCGCAAAGGTTAGTTC, Intestine#col80_ACTTAGAATGAACGCCAACTAAGACCGTTG, Cloaca#col76_TCCAAGCCTGACCAATCACGTAGCCGTCAT, Pancreas#col75_ACTTAGAATGGCCACAACATCTTGCGCCGC, Intestine#col77_CGTGCGATCCCACCAACATGCGCTCCTAAC, Intestine#col68_ACTTAGAATGATACACCAGCTCTTGCCGAC, Stomach#col78_TCGGAAGGCAACCATCCGAACGGATTAGAA, Cloaca#col70_CGTGCGATCCCAAGCTAACCTAGCCGTCAT, Stomach#col59_ACTTAGAATGCAAGCTAACCGATCGCTTCT, Intestine#col60_CTCACAAGACGTCGAACCAAAGCTTATCCG, Cloaca#col71_TGAAGCGTTGACCTAGACAGAACTAGGCGC, Stomach#col64_ACTTAGAATGACTAGCACCAACGAAGTCAA, Intestine#col64_CGTGCGATCCTACCGCAACAATCCATGACT, Intestine#col74_TCGGAAGGCAACGTCCACAACATCTCTGCA, Cloaca#col66_CTCACAAGACAACCACGCATTAGCCGTCAT, Gill#col14_CCGATGTCGCAATCCAGACCAATACCATCC, Intestine#col57_ACTTAGAATGTCACAGCAACTTCGCCTCCA, Cloaca#col62_AGACGATGATCACCAACATGGGCAGACGCC, Cloaca#col74_TCGGAAGGCATACAGCCAACAACCATTGGA, Cloaca#col63_TCGGAAGGCACCGACCAATATAGCCGTCAT, Pancreas#col73_CTCACAAGACCACATACCGATTATTCATTC, Cloaca#col74_CGTGCGATCCTCAACCAGACAATCGATAAT, Intestine#col63_AGACGATGATAACCTGACACAAGACCGTTG, Cloaca#col78_ACTTAGAATGACCATAGACCTATATACTAA, Stomach#col61_TGAAGCGTTGATACACCAGCACGAAGTCAA, Cloaca#col78_CGTGCGATCCACCATAGACCTATATACTAA, Intestine#col64_TGAAGCGTTGGCACACAACTTCTTGCCGAC, ...]

[50025 rows x 0 columns]

In [21]:
positive_ad.obs

,orig.ident,nCount_RNA,nFeature_RNA
Liver#col63_AGACGATGATACCATCCGAAACCGCCAACC,0,738.0,738
Pancreas#col57_CTCACAAGACACAGAGCCATAATTAAGACT,0,5347.0,5347
Intestine#col63_ACTTAGAATGCACAAGACCTAAGCCAGTTA,0,1558.0,1558
Kidney#col90_TCCAAGCCTGGATCACCAGACCAGTTCCAA,0,584.0,584
Pancreas#col58_TCGGAAGGCACAACTCGAACGCCATTCTCC,0,3079.0,3079
...,...,...,...
Limb#col102_AGACGATGATCATCCTAAGACATTCGACGG,0,1440.0,1440
Kidney#col85_AGACGATGATTAGAACACCGAAGAAGCTAG,0,4097.0,4097
Kidney#col97_CCGATGTCGCATAGAACGCCTCCGGCCTCG,0,2603.0,2603
Limb#col98_ACTTAGAATGTGACCACAATGCTGGAACTT,0,988.0,988
Kidney#col93_CTCACAAGACCAGGACCATAAAGAAGCTAG,0,432.0,432

In [22]:
positive_ad.shape, nega.shape

((50025, 82637), (50025, 41318))

In [23]:
merge_pos_nega = anndata.concat([positive_ad,nega],join='outer',axis = 1)
merge_pos_nega

/home/ggj/anaconda3/lib/python3.9/site-packages/anndata/_core/merge.py:1111: UserWarning: Only some AnnData objects have `.raw` attribute, not concatenating `.raw` attributes.
  warn(

AnnData object with n_obs × n_vars = 50025 × 123955
    var: 'features'

In [24]:
merge_pos_nega.var

                                                  features
chr10p_1-95282-95782                  chr10p_1-95282-95782
chr10p_1-273325-273825              chr10p_1-273325-273825
chr10p_1-769540-770040              chr10p_1-769540-770040
chr10p_1-770095-770595              chr10p_1-770095-770595
chr10p_1-1249389-1249889          chr10p_1-1249389-1249889
...                                                    ...
chr1q_3-89063227-89063727        chr1q_3-89063227-89063727
chr2q_3-421997983-421998483    chr2q_3-421997983-421998483
chr11q_3-189063795-189064295  chr11q_3-189063795-189064295
chr3p_1-185273258-185273758    chr3p_1-185273258-185273758
chr1q_1-462907342-462907842    chr1q_1-462907342-462907842

[123955 rows x 1 columns]

1.shuffle

In [25]:
## shuffle ad.var
import random

def shuffleData(ad, seed=666):
    random.seed(seed)
    index = [i for i in range(len(ad.var))]
    random.shuffle(index)
    ad_shuffled = ad[:,index]
    return ad_shuffled

In [26]:
ad = shuffleData(merge_pos_nega)
ad

View of AnnData object with n_obs × n_vars = 50025 × 123955
    var: 'features'

In [27]:
ad.var

                                                  features
chr6p_1-43037112-43037612        chr6p_1-43037112-43037612
chr11q_3-246189513-246190013  chr11q_3-246189513-246190013
chr14q-324015971-324016471      chr14q-324015971-324016471
chr7p_2-408357300-408357800    chr7p_2-408357300-408357800
chr4p_3-343658941-343659441    chr4p_3-343658941-343659441
...                                                    ...
chr3p_1-25678864-25679364        chr3p_1-25678864-25679364
chr5q_1-408482082-408482582    chr5q_1-408482082-408482582
chr4p_3-292512290-292512790    chr4p_3-292512290-292512790
chr8p_1-115551082-115551582    chr8p_1-115551082-115551582
chr6p_1-29765751-29766251        chr6p_1-29765751-29766251

[123955 rows x 1 columns]

In [28]:
feature = ad.var['features'].str.split(pat='-', n=-1, expand=True).rename(columns={0:'chr', 1:'start', 2:'end'}) 
feature['features'] = feature.chr+'-'+feature.start+'-'+feature.end
feature

,chr,start,end,features
chr6p_1-43037112-43037612,chr6p_1,43037112,43037612,chr6p_1-43037112-43037612
chr11q_3-246189513-246190013,chr11q_3,246189513,246190013,chr11q_3-246189513-246190013
chr14q-324015971-324016471,chr14q,324015971,324016471,chr14q-324015971-324016471
chr7p_2-408357300-408357800,chr7p_2,408357300,408357800,chr7p_2-408357300-408357800
chr4p_3-343658941-343659441,chr4p_3,343658941,343659441,chr4p_3-343658941-343659441
...,...,...,...,...
chr3p_1-25678864-25679364,chr3p_1,25678864,25679364,chr3p_1-25678864-25679364
chr5q_1-408482082-408482582,chr5q_1,408482082,408482582,chr5q_1-408482082-408482582
chr4p_3-292512290-292512790,chr4p_3,292512290,292512790,chr4p_3-292512290-292512790
chr8p_1-115551082-115551582,chr8p_1,115551082,115551582,chr8p_1-115551082-115551582
chr6p_1-29765751-29766251,chr6p_1,29765751,29766251,chr6p_1-29765751-29766251

In [29]:
ad.var['chr'] = feature['chr'].values
ad.var['start'] = feature['start'].values
ad.var['end'] = feature['end'].values

/tmp/ipykernel_1542248/2563709048.py:1: ImplicitModificationWarning: Trying to modify attribute `.var` of view, initializing view as actual.
  ad.var['chr'] = feature['chr'].values

In [30]:
peaks = ad.var.iloc[:,1:4]
peaks

                                   chr      start        end
chr6p_1-43037112-43037612      chr6p_1   43037112   43037612
chr11q_3-246189513-246190013  chr11q_3  246189513  246190013
chr14q-324015971-324016471      chr14q  324015971  324016471
chr7p_2-408357300-408357800    chr7p_2  408357300  408357800
chr4p_3-343658941-343659441    chr4p_3  343658941  343659441
...                                ...        ...        ...
chr3p_1-25678864-25679364      chr3p_1   25678864   25679364
chr5q_1-408482082-408482582    chr5q_1  408482082  408482582
chr4p_3-292512290-292512790    chr4p_3  292512290  292512790
chr8p_1-115551082-115551582    chr8p_1  115551082  115551582
chr6p_1-29765751-29766251      chr6p_1   29765751   29766251

[123955 rows x 3 columns]

In [31]:
#start to pre datasets

In [32]:
#one-hot

In [33]:
onehot_nuc = {'A':[1,0,0,0],
            'C':[0,1,0,0],
            'G':[0,0,1,0],
            'T':[0,0,0,1],
            'N':[0,0,0,0]}
            
def _onehot_seq(seq):
    return np.array([onehot_nuc[nuc] for nuc in str(seq).upper()])

In [34]:
# genome
genome = pysam.Fastafile('/media/ggj/Guo-4T-AI/FYT/UU/ref/AmexG_v6/AmexG_ArchR_merge.fa')
genome

In [35]:
from tqdm import tqdm

In [36]:
peaks

                                   chr      start        end
chr6p_1-43037112-43037612      chr6p_1   43037112   43037612
chr11q_3-246189513-246190013  chr11q_3  246189513  246190013
chr14q-324015971-324016471      chr14q  324015971  324016471
chr7p_2-408357300-408357800    chr7p_2  408357300  408357800
chr4p_3-343658941-343659441    chr4p_3  343658941  343659441
...                                ...        ...        ...
chr3p_1-25678864-25679364      chr3p_1   25678864   25679364
chr5q_1-408482082-408482582    chr5q_1  408482082  408482582
chr4p_3-292512290-292512790    chr4p_3  292512290  292512790
chr8p_1-115551082-115551582    chr8p_1  115551082  115551582
chr6p_1-29765751-29766251      chr6p_1   29765751   29766251

[123955 rows x 3 columns]

In [37]:
seq_onehot = []

for peak in tqdm(peaks.values):
    seqnames, start, end = peak[:3]
    #chrom = str(seqnames.replace("chr",""))
    start, end = int(start), int(end)
    chrom = seqnames
    # catch overflowed error
    chrom_size = genome.get_reference_length(chrom)
    if end >= chrom_size:
        print(peak[-1])
        pad = 'N' * (end - chrom_size) # pad N
        end = chrom_size
    # fetch sequence 
    seq = genome.fetch(reference=chrom, start=start, end=end)
    # pad N
    if start + 500 > chrom_size:
        seq += pad
    # onehot    
    seq = _onehot_seq(seq)
    seq_onehot.append(seq)

seq_onehot = np.array(seq_onehot, dtype=np.bool)
genome.close()

seq_onehot.shape

100%|██████████████████████████████████| 123955/123955 [12:27<00:00, 165.75it/s]
/tmp/ipykernel_1542248/1635994864.py:23: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  seq_onehot = np.array(seq_onehot, dtype=np.bool)

(123955, 500, 4)

In [38]:
#.Split train/valid/test data

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
peaks.chr.astype(str).values

array(['chr6p_1', 'chr11q_3', 'chr14q', ..., 'chr4p_3', 'chr8p_1',
       'chr6p_1'], dtype=object)

In [41]:
idx = peaks.index.values
mask = peaks['chr'].isin(['chr8p_1','chr8p_2','chr8q_1','chr8q_2'])

test_idx = idx[mask]
train_val_idx = idx[~mask]

train_idx, val_idx = train_test_split(train_val_idx, test_size=0.1)

train_idx.shape, val_idx.shape, test_idx.shape

((104855,), (11651,), (7449,))

In [42]:
peaks['train_test_split'] = "train"
peaks.loc[train_idx, 'train_test_split'] = "train"
peaks.loc[val_idx, 'train_test_split'] = "val"
peaks.loc[test_idx, 'train_test_split'] = "test"

peaks.head()

                                   chr      start        end train_test_split
chr6p_1-43037112-43037612      chr6p_1   43037112   43037612            train
chr11q_3-246189513-246190013  chr11q_3  246189513  246190013              val
chr14q-324015971-324016471      chr14q  324015971  324016471            train
chr7p_2-408357300-408357800    chr7p_2  408357300  408357800            train
chr4p_3-343658941-343659441    chr4p_3  343658941  343659441            train

In [43]:
# create coordinate sparse matrix
pmat_co = coo_matrix(ad.X.T)

In [44]:
pmat_co.shape

(123955, 50025)

In [45]:
## 5.Write
compress_args = {'compression': 'gzip', 'compression_opts': 1}

h5file = h5py.File('Axolotl_5wCells_8wPeaks_4wnegative.shuffled.noimpute.500bp.20230904.h5', 'a')
h5file.create_dataset("pmat/X", data=seq_onehot, dtype=bool, **compress_args)
h5file.create_dataset("pmat/peak", data=peaks.values.astype(np.bytes_), **compress_args)

# h5file.create_dataset("pmat/pmat_sc/y", data=y, dtype=np.float32, **compress_args)
h5file.create_dataset("pmat/pmat_sc/i", data=pmat_co.row, dtype=np.int32, **compress_args)
h5file.create_dataset("pmat/pmat_sc/j", data=pmat_co.col, dtype=np.int32, **compress_args)
h5file.create_dataset("pmat/pmat_sc/x", data=pmat_co.data, dtype=np.int32, **compress_args)
h5file.create_dataset("pmat/pmat_sc/dim", data=pmat_co.shape, dtype=np.int32, **compress_args)

# h5file.create_dataset("cellanno", data=anno.values.astype(np.bytes_), **compress_args)

h5file.close()